.container {
    width: 1070px;
    height: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 70px;
    background-color: $bgc-header;
}

header img {
    height: 50px;
    margin-top: 10px;
}
