.cds-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;
}

.cd {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-basis: 200px;
    padding: 20px;
    margin: 10px 20px;
    height: 360px;
    background-color: $bgc-cd;
    text-align: center;
}

.cd img {
    max-width: 100%;
}

.cd h3 {
    margin: 20px 0;
    color: $color-h3;
    font-size: 22px;
    text-transform: uppercase;
}

.cd span.author {
    color: $color-author-year;
    font-size: 20px;
}

.cd span.year {
    color: $color-author-year;
}
